<ion-header>
  <ion-toolbar>
    <ion-title>Desenvolvedor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/pp.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Biografia</ion-card-subtitle>
      <ion-card-title>MArilia de Matos Biz</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nasceu na cidade de Santa Cecilia - SC em 25 de Maio de 1998, residente na cidade de Caçador - SC. Cursando Técnico em
      Desenvolvimento de Sistemas na Instituição IFSC Campus Caçador.
    </ion-card-content>
  </ion-card>
</ion-content>