<ion-header>
  <ion-toolbar>
    <ion-title>Notícias de Turismo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
      <ion-card>
        <img src="assets/images/museu.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destino</ion-card-subtitle>
          <ion-card-title>Caçador - SC</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Caçador é um município brasileiro pertencente ao estado de Santa Catarina. Sua sede está localizada na foz do
          rio Caçador e próximo a nascente do rio do Peixe, a uma média de 920 m de altitude.
        </ion-card-content>
      </ion-card>
</ion-content>